.contato ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contato ul li {
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    list-style: none;
}
.contato ul li.nome {
    font-weight: 700;
}
.contato ul li.acoes {
    display: flex;
}

.contato ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}