/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #3D8BFD 0%, #E7F1FF 100%);
}
